---
import MainLayout from '@/components/layout/MainLayout.astro';

const displayString = 'The quick brown fox jumps over the lazy dog';
---

<MainLayout>
  <p class='text text-xs'>text-xs {displayString}</p>
  <p class='text text-sm'>text-sm {displayString}</p>
  <p class='text-md text'>text-md {displayString}</p>
  <p class='text text-base'>text-base {displayString}</p>
  <p class='text text-lg'>text-lg {displayString}</p>
  <p class='text text-xl'>text-xl {displayString}</p>
  <p class='text text-2xl'>text-2xl {displayString}</p>
  <p class='text text-3xl'>text-3xl {displayString}</p>
  <p class='text text-4xl'>text-4xl {displayString}</p>
  <p class='text text-5xl'>text-5xl {displayString}</p>
  <p class='text text-6xl'>text-6xl {displayString}</p>
  <p class='text text-7xl'>text-6xl {displayString}</p>
  <p class='text text-8xl'>text-6xl {displayString}</p>
  <p class='text text-9xl'>text-6xl {displayString}</p>
</MainLayout>
