---
import Divider from '@/components/Divider.astro';
import MainLayout from '@/components/layout/MainLayout.astro';

const displayString = 'The quick brown fox jumps over the lazy dog';
---

<MainLayout>
  <p class='text-xs'>text-xs {displayString}</p>
  <p class='uppercase text-xs'>text-xs {displayString}</p>
  <p class='text-sm'>text-sm {displayString}</p>
  <p class='uppercase text-sm'>text-sm {displayString}</p>
  <p class='text-md'>text-md {displayString}</p>
  <p class='uppercase text-md'>text-md {displayString}</p>
  <p class='text-base'>text-base {displayString}</p>
  <p class='uppercase text-base'>text-base {displayString}</p>
  <p class='text-lg'>text-lg {displayString}</p>
  <p class='uppercase text-lg'>text-lg {displayString}</p>
  <p class='text-xl'>text-xl {displayString}</p>
  <p class='uppercase text-xl'>text-xl {displayString}</p>
  <p class='text-2xl'>text-2xl {displayString}</p>
  <p class='uppercase text-2xl'>text-2xl {displayString}</p>
  <p class='text-3xl'>text-3xl {displayString}</p>
  <p class='uppercase text-3xl'>text-3xl {displayString}</p>
  <p class='text-4xl'>text-4xl {displayString}</p>
  <p class='uppercase text-4xl'>text-4xl {displayString}</p>
  <p class='text-5xl'>text-5xl {displayString}</p>
  <p class='uppercase text-5xl'>text-5xl {displayString}</p>
  <p class='text-6xl'>text-6xl {displayString}</p>
  <p class='uppercase text-6xl'>text-6xl {displayString}</p>
  <p class='text-7xl'>text-7xl {displayString}</p>
  <p class='uppercase text-7xl'>text-7xl {displayString}</p>
  <p class='text-8xl'>text-8xl {displayString}</p>
  <p class='uppercase text-8xl'>text-8xl {displayString}</p>
  <p class='text-9xl'>text-9xl {displayString}</p>
  <p class='uppercase text-9xl'>text-9xl {displayString}</p>
  <Divider />
  <h1>test</h1>
  <h2>test</h2>
  <h3>test</h3>
  <h4>test</h4>
  <h5>test</h5>
  <h6>test</h6>
</MainLayout>
