---
import MainLayout from "@/components/layout/MainLayout.astro";

const displayString = "The quick brown fox jumps over the lazy dog"
---
<MainLayout>
  <h1 class="text-9xl text">H1 - {displayString}</h1>
  <h2>H2 - {displayString}</h2>
  <h3>H3 - {displayString}</h3>
  <h4>H4 - {displayString}</h4>
  <h5>H5 - {displayString}</h5>
  <h6>H6 - {displayString}</h6>
</MainLayout>